{% extends 'base_templates/base.html' %}
{% block title %}
{% endblock %}
{% block content %}
    {% load static %}
     <link rel="stylesheet" href="{% static 'chat/css/chat.css'%}" type="text/css">
    {% csrf_token %}


    <h1>{{ room }}</h1>
    <p>{{ room.question }}</p>
    <h3>{{ room.creator }}</h3>
    {% for i in messages %}
        <div class="message">
        <a href="{% url 'profile' i.author.id %}">{{ i.author.username }}</a>
        <p>{{ i }}</p>
        </div>
    {% endfor %}
    {{ room.id|json_script:"room-id" }}
    <div id="messages"></div>
    <form id="form" method="post" action="create">
        <input type="text" name="message" id="message"/>
        <input type="submit">
    </form>
    <script type="text/javascript">
        const roomId = JSON.parse(document.getElementById('room-id').textContent)

        let url = `ws://${window.location.host}/ws/chat/${roomId}/`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)

            if(data.type === 'chat'){
                let messages = document.getElementById('messages')

                messages.insertAdjacentHTML('beforeend', `<div class='message'>
                                        <a href="{% url 'profile' user.id %}">{{ user.username }}</a>
                                        <p>${data.message}</p>
                                    </div>`)
            }
        }

        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value 
            chatSocket.send(JSON.stringify({
                'message':message,
                'chat_id': '1'
            }))
            form.reset()
        })
        
        $.ajax({
            type: "POST",
            url: "{% url 'chat' room.id %}",
            data: {
                message: $('#message').val(),
                csrf
        }})

    </script>
{% endblock %}