{% extends 'base_templates/base.html' %}
{% block title %}
{% endblock %}
{% block content %}
    {% load static %}
     <link rel="stylesheet" href="{% static 'chat/css/chat.css'%}" type="text/css">
    {% csrf_token %}
    	<div class="conversation-info">
		<div class="container">
			<h1 class="conversation-title">{{ room }}</h1>
			<p class="conversation-description">{{ room.question }}</p>
			<div class="conversation-meta">
				<span class="meta-item"><strong>Автор:</strong> <a href="{% url 'profile' room.creator.id %}">{{ room.create }}</a></span>
				<span class="meta-item"><strong>Дата создания:</strong>{{ room.date }}</span>
				<span class="meta-item"><strong>Сообщений:</strong> 123</span>
			</div>
		</div>
	</div>
    <div class="messages_div">
    {% for i in messages %}
        <div id="message-{{ i.id }}">
        <div class="bubbleWrapper">
        <div class="photo">
            <p><img src="{{ i.author.profile_picture.url }}" width="150" height="150"></p>
        </div>
		<div class="text_message">
            <h1><a href="{% url 'profile' i.author.id %}">{{ i.author.username }}</a></h1>
            <p align="left" class="message">{{ i.text }}</p>
            {% if i.image %}
                <p><img class="image_msg" src="{{ i.image.url }}" alt=""></p>
            {% endif %}
            {% if i.file %}
            &#x1F4CE; <a class="cursor-pointer italic hover:underline" href="{{ i.file.url }}" download>{{ i.file.filename }}sdaasda</a>
            {% endif %}
        </div>
        {% if i.author.id == request.user.id %}
            <button class="delete-link" onclick="deleteMessage({{ i.id }}, {{ request.user.id }})">Удалить</button>
        {% endif %}
        <p></p>
        </div><span class="date">{{ i.date }}</span>
         <hr>
        </div>
    {% endfor %}
    <div id="messages"></div>
    	<div class="message-input-container">
		<form id="form">
			<div class="form-group">
				<textarea id="message-input" name="message" placeholder="Введите ваше сообщение..." rows="4" required></textarea>
			</div>
			<div class="form-group">
                <input type="file" id="file-input" name="file">
				<button type="submit" class="send-button">Отправить</button>
			</div>
		</form>
	</div>

	</div>
    {{ request.user.username|json_script:"json-username" }}
        {{ room.id|json_script:"room-id" }}
        {{ request.user.id|json_script:"user-id" }}
        {{ request.user.profile_picture.url|json_script:"profile-picture" }}
    <script type="text/javascript" src="{% static 'chat/js/lobby.js' %}"></script>
    <script type="text/javascript" src="{% static 'chat/js/delete_message.js' %}"></script>

{% endblock %}