<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <a href="{% url 'homepage' %}">Главная</a>
    {% if user.is_authenticated %}
    <a href="{% url 'profile' %}">Профиль</a>
    <a href="{% url 'create' %}">Создать тему</a>    
        {% else %}
        <a href="{% url 'register' %}">Регистрация</a>
    <a href="{% url 'login' %}">Логин</a>
    {% endif %}
    <form action="{% url 'search' %}" method="get">
        <input type="text" type="search" name="q" placeholder="Поиск">
        <button type="submit">Найти</button>
    </form>
    {% block content %}
    {% endblock %}
</body>
</html>