<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base/base.css'%}" type="text/css">
</head>
<body>
<header class="site-header">
    <ul id="navbar">
    <li><a href="{% url 'homepage' %}">Главная</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'profile' %}">Профиль</a></li>
    <li><a href="{% url 'create' %}">Создать тему</a></li>
        {% else %}
        <li><a href="{% url 'register' %}">Регистрация</a></li>
    <li><a href="{% url 'login' %}">Логин</a></li>
    {% endif %}
    <li><form action="{% url 'search' %}" method="get">
        <input type="text" type="search" name="q" placeholder="Поиск">
        <button type="submit">Найти</button>
    </form></li>
    </ul>
</header>

    <div id="container">
        {% block content %}
    {% endblock %}
    </div>

</body>
</html>