

.message {
  padding: 10px;
}

.message .author {
  font-weight: bold;
}

.message .text {

}



 .msg-bottom {
        border-top: 1px solid #ccc;
        position: relative;
        height: 11%;
        background-color: rgb(239 239 239);
    }