{% extends 'base_templates/base.html' %}

{% block title %}
    hhu
{% endblock %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'users/css/change_password.css'%}" type="text/css">
    <div class="container">
		<h1>Изменение пароля</h1>
    <form method="POST" id="change-password-form">
    {% csrf_token %}
        <div class="form-group">
            <label for="current-password">Текущий пароль:</label>
            {{ form.old_password }}
        </div>
        <div class="form-group">
            <label for="new-password">Новый пароль:</label>
            {{ form.new_password1 }}
        </div>
        <div class="form-group">
            <label for="confirm-new-password">Подтвердите новый пароль:</label>
            {{ form.new_password2 }}
        </div>
        <button type="submit">Изменить пароль</button>
    </form>
        <br>
    {% if form.new_password1.value != form.new_password2.value %}
        <p class="error">Пароли не совпадеют</p>
    {% endif %}
    {% if form.new_password1.value|length < 8 and form.new_password1.value|length > 0%}
        <p class="error">Пароль слишком короткий</p>
    {% endif %}
    {% if form.old_password.errors %}
        <p class="error">Старый пароль не совпадает</p>
    {% endif %}
    </div>
{% endblock %}