{% extends 'base_templates/base.html' %}

{% block title %}
    hhu
{% endblock %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'users/css/login.css'%}" type="text/css">

    <div class="main">
        <form class="p-3 mt-3" method="post">
            {% csrf_token %}
        <h1>GeeksforGeeks</h1>
        <h3>Enter your login credentials</h3>

        <form action="">
            <label for="first">
                Username:
            </label>
            <input type="text" name="username" id="userName" placeholder="Username">

            <label for="password">
                Password:
            </label>
            <input type="password" name="password" id="pwd" placeholder="Password">

            <div class="wrap">
                <button type="submit">
                    Submit
                </button>
            </div>
        </form>

        <p>Not registered?
            <a href="{% url 'register' %}" style="text-decoration: none;">
                Create an account
            </a>
        </p>

        </form>
    {{ form.errors }}
    </div>
{% endblock %}