{% extends "base_templates/base.html" %}

{% block title %}
{% endblock %}
{% load static %}
{% block content %}
     <link rel="stylesheet" href="{% static 'users/css/profile.css' %}" type="text/css">

  <div class="card">
  <div class="imgBx">

    <img src="{{ profile.profile_picture.url }}"/>
  </div>
  <div class="content">
    <div class="details">
      <h2>{{ profile.username }}<br>
          <span class="description">{{ profile.description }}</span></h2>

        {% if profile == user %}
      <div class="actionBtn">
        <button onclick="location.href='{% url 'logout_profile' %}'">Log out</button>
        <button onclick="location.href='{% url 'update_user' %}'">Update</button>
      </div>
    </div>
  </div>
</div>

     {% endif %}
{% endblock %}