{% extends 'base_templates/base.html' %}
{% block title %}
    Главная
{% endblock %}

{% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'main/css/main.css'%}" type="text/css">
    <div class="main_page">
    <div class="genres_checkboxes">

    <form action="{% url 'homepage' %}" method="get" name="genres">
        {% for i in form %}
            <label class="container">{{ i.label }}
            {{ i }}
            <span class="checkmark"></span>
            </label>
            <br>
        {% endfor %}
    <button type="submit">Найти</button>
    </form>
    </div>
    <div class="articles_div">
    <table>
    {% for i in rooms %}
        {% cycle 1 2 3 as column_rooms silent %}
        {% if column_rooms == 1 %}<tr>{% endif %}
    <td>
    <article class="news-item">
          <div class="card">
    <div class="card__body">
        <div class="genres_div">
        {% for genre in i.genres.all|slice:":3" %}
                <span class="tag tag-blue">{{ genre }}</span>
        {% endfor %}
        </div>
      <h4>{{ i.name }}</h4>
      <p>{{ i.question|slice:':255' }}..</p>
    </div>
    <div class="card__footer">
      <div class="user">
        <div class="user__info">
          <h5>{{ i.creator }}</h5>
            <a href="{% url 'chat' i.id %}">читать далее</a>
          <small>2h ago</small>
        </div>
      </div>
    </div>
          </div>
        </article>
    </td>
    {% if column_rooms == 3 %}</tr>{% endif %}
    {% endfor %}
    </table>
    </div>
    </div>

{% endblock %}
