{% extends 'base_templates/base.html' %}
{% block title %}
    Главная
{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}" type="text/css">
    <table>
    {% for i in rooms %}
        {% cycle 1 2 3 4 as row silent %}
        {% if row == 1 %}<tr>{% endif %}
    <td>
    <article class="news-item">
          <div class="card">
    <div class="card__body">
      <span class="tag tag-blue">Technology</span>
      <h4>{{ i.name }}</h4>
      <p>{{ i.question|slice:':255' }}..</p>
    </div>
    <div class="card__footer">
      <div class="user">
        <div class="user__info">
          <h5>{{ i.creator }}</h5>
            <a href="{% url 'chat' i.id %}">читать далее</a>
          <small>2h ago</small>
        </div>
      </div>
    </div>
          </div>
        </article>
    </td>
    {% if row == 4 %}</tr>{% endif %}
    {% endfor %}
    </table>
{% endblock %}
